<!-- File: app/templates/search_form.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manga Search</title>
    <!-- Include Bootstrap CSS for styling -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <link href="{{ url_for('static', filename='css/search_styles.css') }}" rel="stylesheet">
</head>
<body>
    <div class="container mt-4">
        <h2>Search for Manga</h2>
        <form method="POST" action="{{ url_for('manga_search') }}">
            {{ form.hidden_tag() }}
            
            <div class="form-group">
                {{ form.title_query.label(class="form-control-label") }}
                {{ form.title_query(class="form-control") }}
            </div>


            <select id="tag_choices" class="form-control" style="display:none;" data-tags="{{ form.tag_choices.choices|tojson|safe }}">
                <!-- Options will be automatically populated by WTForms -->
            </select>
            

            <div id="tag-container">
                {% for value, label in form.tag_choices.choices %}
                    <button class="tag" data-value="{{ value }}">{{ label }}</button>
                {% endfor %}
            </div>
            


            <div class="form-group tag-container" id="tag-boxes">
                <!-- This div is where your tag boxes will be dynamically created -->
            </div>
            <!-- Hidden fields to store included and excluded tags -->
            <input type="hidden" id="included_tag_names" name="included_tag_names" value="">
            <input type="hidden" id="excluded_tag_names" name="excluded_tag_names" value="">
            
            



            <div class="form-group">
                {{ form.sort_by.label(class="form-control-label") }}
                {{ form.sort_by(class="form-control") }}
            </div>

            <div class="form-group">
                {{ form.publication_demographic.label(class="form-control-label") }}
                {{ form.publication_demographic(class="form-control") }}
            </div>

            <div class="form-group">
                {{ form.status.label(class="form-control-label") }}
                {{ form.status(class="form-control") }}
            </div>

            <div class="form-group">
                {{ form.content_rating.label(class="form-control-label") }}
                {{ form.content_rating(class="form-control") }}
            </div>

            <div class="form-group">
                {{ form.limit.label(class="form-control-label") }}
                {{ form.limit(class="form-control") }}
            </div>

            <button type="submit" class="btn btn-primary">Search</button>
        </form>
    </div>

    <script src="{{ url_for('static', filename='js/search.js') }}"></script>

    <!-- Optional JavaScript -->
    <!-- Popper.js, Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
